extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Tonia Gonzalez

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I am a FullStack JavaScript Developer based in Portland, Oregon. I am passionate about making creative, adaptive, and innovative designs. My insatiable curiosity for understanding "how things work" allows me to dive head first into developing creative solutions.
            | I've spent years studying languages and working with diverse groups of people from all walks of life. These experiences have given me the tools to work collaboratively and the ability to think outside of the box.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS3
          li Bootstrap
          li Sass
          li JavaScript
          li jQuery
          li ES6/OOJS
          li Node.js/Express
          li Pug
          li Adobe Creative Suite
          li Responsive Web Design
          li Manage Version Control with Git
        h6 Contact Info


        ul
          li 503-473-4519
          li toniagonzalez.design@gmail.com


        a.button.expanded(href='https://www.linkedin.com/in/tonia-gonzalez-71404416a/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/toniagonzalez' target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/encantoarboles' target='_blank') Twitter
        a.button.expanded(href='https://toniagonzalez.github.io/' target='_blank') Portfolio
        a.button.expanded(href='/static/img/ToniaGonzalezResume2019.pdf' target='_blank') Resume
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
