extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') â† Back
  article.grid-container.portfolio-intro.portfolio-project
    h2.error= `${error.message} - Status: ${error.status}`
    p= `${error.stack}`
